[ng\:cloak], [ng-cloak], .ng-cloak {
    display: none !important;
}

#top-panel {
    background-color: greenyellow;
    padding: 10px;
    border: 1px solid black
}
#top-panel h2 {
    margin: 0;
}
.green-box {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: greenyellow;
    margin-bottom: 10px;
}
.green-box hr {
    border-color: black;
}

.white-box {
    background-color: rgba(255,255,255, 0.5);
    border: 1px dotted limegreen;
}

#navigation, #main-content {
    margin-top: 10px;
}
#navigation-items, #category-items, #town-items {
    list-style-type: none;
    padding: 0;
    font-size: 1.3em;
}
#navigation-items .active, #category-items .active, #town-items .active {
    background-color: #FFB732;
    padding: 5px;
    border-radius: 30px;
}

.category-item:hover, .town-item:hover {
    font-weight: bold;
    text-decoration: underline;
}

#please-login-panel {
    margin-bottom: 5px;
}
#please-login-panel div {
    margin-bottom: 10px;
}
#please-login-panel div:last-child {
    margin-bottom: 0;
}
#please-login-panel button {
    width: 85%;
}

.ad-picture {
    width: 100px;
    height: 120px;
    margin: 20px 0;
}
.ad-description {
    padding: 10px;
}
.owner-info>div {
    margin-top: 5px;
}
.ad-description, .ad-name, .ad-email, .ad-phone {
    text-align: center;
}
.ad-name, .ad-email, .ad-phone {
    word-wrap: break-word;
    display: inline-block;
    padding: 5px 0;
    width: 40%;
}
.paging-buttons {
    margin-bottom: 10px;
}
.paging-buttons button {
    margin-right: 5px;
}
.paging-buttons button:last-child {
    margin-right: 0;
}
#login-form button {
    margin-top: 10px;
}
