#top-panel {
    background-color: greenyellow;
    padding: 10px;
    border: 1px solid black
}
#top-panel h2 {
    margin: 0;
}
.green-box {
    padding: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: greenyellow;
    margin-bottom: 10px;
}
.green-box hr {
    border-color: black;
}

#navigation {
    margin-top: 10px;
}
#navigation-items {
    list-style-type: none;
    padding: 0;
    font-size: 1.3em;
}
#navigation-items .active {
    background-color: #FFB732;
    padding: 5px;
    border-radius: 30px;
}

#please-login-panel {
    margin-bottom: 5px;
}
#please-login-panel div {
    margin-bottom: 10px;
}
#please-login-panel div:last-child {
    margin-bottom: 0;
}
#please-login-panel button {
    width: 85%;
}