<div class="green-box">
    <div class="row">
        <span class="pull-right ad-date col-md-2">{{ad.date | date: 'dd-MMM-yyyy'}}</span>
        <h4 class="ad-title col-md-10">{{ad.title}}</h4>
        <div class="clearfix"></div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="white-box text-center">
                <img src="" alt="Ad Picture" ng-src="{{ad.imageDataUrl}}" class="ad-picture"/>
            </div>
        </div>
        <div class="col-md-7">
            <div class="white-box ad-description">
                {{ad.text}}
            </div>
            <div class="text-right owner-info">
                <div>
                    <span>Name</span>
                    <div class="white-box owner-name">{{ad.ownerName | valueOrNull}}</div>
                </div>
                <div>
                    <span>Email</span>
                    <div class="white-box owner-email">{{ad.ownerEmail | valueOrNull}}</div>
                </div>
                <div>
                    <span>Tel.</span>
                    <div class="white-box owner-phone">{{ad.ownerPhone | valueOrNull}}</div>
                </div>
            </div>
        </div>
    </div>
</div>