<div ng-controller="StatusChooserController">
    <div class="green-box text-center">
        <ul id="status-filter-options">
            <li ng-class="{'status-filter-option': true, 'active': isStatusOptionSelected(null)}" ng-click="changeSelectedStatusOption(null)"><span>All</span></li>
            <li ng-repeat="statusFilterOption in statusFilterOptions" ng-class="{'status-filter-option': true, 'active': isStatusOptionSelected(statusFilterOption.id)}" ng-click="changeSelectedStatusOption(statusFilterOption.id)"><span>{{statusFilterOption.name}}</span></li>
        </ul>
    </div>
</div>