<div ng-controller="EditUserController">
    <div class="row">
        <div id="edit-profile-noty-area"></div>
        <div class="green-box col-md-6 text-center">
            <h3>Edit Profile</h3>
            <hr/>
            <form name="editProfileForm">
                <label for="username">Username: </label><input type="text" class="form-control" ng-model="user.username" id="username" disabled/>
                <label for="name">Name: </label><input type="text" class="form-control" ng-model="user.name" id="name" required="required"/>
                <label for="email">Email: </label><input type="text" class="form-control" ng-model="user.email" id="email" required="required"/>
                <label for="phone">Phone: </label><input type="text" class="form-control" ng-model="user.phoneNumber" id="phone" required="required"/>
                <label for="town">Town:</label>
                <select id="town" ng-model="user.townId">
                    <option value="{{nullData}}">(None)</option>
                    <option ng-repeat="town in towns" value="{{town.id}}" ng-selected="user.townId == town.id">{{town.name}}</option>
                </select>
                <div>
                    <label for="is-admin">Is Admin?: </label><input type="checkbox" ng-model="user.isAdmin" id="is-admin"/>
                </div>
                <div>
                    <button class="btn btn-default btn-success" ng-disabled="editProfileForm.$invalid" ng-click="editProfile(user)">Edit Profile</button>
                </div>
            </form>

        </div>
        <div class="green-box col-md-6 text-center">
            <h3>Change Password</h3>
            <hr/>
            <form name="changePasswordForm">
                <label for="username-form-password">Username: </label><input type="text" class="form-control" ng-model="user.username" id="username-form-password" disabled/>
                <label for="new-password">New Password: </label><input type="password" class="form-control" ng-model="passwordData.newPassword" id="new-password" required="required"/>
                <label for="confirm-password">Confirm Password: </label><input type="password" class="form-control" ng-model="passwordData.confirmPassword" id="confirm-password" required="required"/>
                <div>
                    <button class="btn btn-default btn-success" ng-disabled="changePasswordForm.$invalid" ng-click="changePassword(user.username, passwordData)">Change Password</button>
                </div>
            </form>
        </div>
    </div>
</div>