<div ng-controller="EditAdController">
    <div class="green-box text-center">
        <div id="add-new-ad-noty-area"></div>
        <form name="addNewAdForm" class="text-center">
            <h2>Edit Ad</h2>
            <p>
                <label for="title">Title:</label>
                <input type="text" id="title" class="form-control" ng-model="ad.title" required="required" />
            </p>
            <p>
                <label for="text">Text:</label>
                <textarea id="text" class="form-control" ng-model="ad.text" required="required"></textarea>
            </p>
            <p>
                <label for="preview-image">Image:</label>
                <input type="file" ng-model="ad.imageDataUrl" accept="image/*" app-filereader />
                <img src="" id="preview-image" ng-src="{{ad.imageDataUrl}}" alt="Ad picture"/>
            </p>
            <p>
                <label for="category">Category:</label>
                <select id="category" ng-model="ad.categoryId">
                    <option value="nullData">(None)</option>
                    <option ng-repeat="c in categories" value="{{c.id}}">{{c.name}}</option>
                </select>
            </p>
            <p>
                <label for="town">Town:</label>
                <select id="town" ng-model="ad.townId">
                    <option value="nullData">(None)</option>
                    <option ng-repeat="town in towns" value="{{town.id}}">{{town.name}}</option>
                </select>
            </p>
            <p>
                <button ng-click="publishAd(ad)" ng-disabled="addNewAdForm.$invalid" class="btn btn-default">Publish</button>
                <a href="#/user/ads">Cancel</a>
            <p>
        </form>
    </div>
</div>